<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestUsingStoryBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D3391B1CC5C6DA00C3ACE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D339371CC5C6DB00C3ACE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D339421CC5C6DB00C3ACE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
